In [3]:
# importing the required libraries

import pandas as pd

In [6]:
# reading the dataset 

df = pd.read_csv("data.csv")

In [7]:
# viewing the first few rows using head

df.head()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [8]:
# selecting a single column by name

df['Bare_Nuclei']

0       1
1      10
2       2
3       4
4       1
5      10
6      10
7       1
8       1
9       1
10      1
11      1
12      3
13      3
14      9
15      1
16      1
17      1
18     10
19      1
20     10
21      7
22      1
23      ?
24      1
25      7
26      1
27      1
28      1
29      1
       ..
669     5
670     8
671     1
672     1
673     1
674     1
675     1
676     1
677     1
678     1
679     1
680    10
681    10
682     1
683     1
684     1
685     1
686     1
687     1
688     1
689     1
690     1
691     5
692     1
693     1
694     2
695     1
696     3
697     4
698     5
Name: Bare_Nuclei, Length: 699, dtype: object

In [9]:
# Selecting muliple columns using column names

df[['Clump_Thickness','Marginal_Adhesion']]

     Clump_Thickness  Marginal_Adhesion
0                  5                  1
1                  5                  5
2                  3                  1
3                  6                  1
4                  4                  3
5                  8                  8
6                  1                  1
7                  2                  1
8                  2                  1
9                  4                  1
10                 1                  1
11                 2                  1
12                 5                  3
13                 1                  1
14                 8                 10
15                 7                  4
16                 4                  1
17                 4                  1
18                10                  6
19                 6                  1
20                 7                 10
21                10                  3
22                 3                  1
23                 8                  1
24                 1                  1
25                 5                  4
26                 3                  1
27                 5                  1
28                 2                  1
29                 1                  1
..               ...                ...
669                5                  8
670                3                  8
671                3                  2
672                2                  1
673                5                  1
674                1                  1
675                4                  1
676                1                  1
677                5                  1
678                1                  1
679                2                  1
680               10                 10
681                5                 10
682                5                  1
683                1                  1
684                1                  1
685                1                  1
686                1                  1
687                3                  1
688                4                  1
689                1                  1
690                1                  3
691                5                  5
692                3                  1
693                3                  1
694                3                  1
695                2                  1
696                5                  3
697                4                  4
698                4                  5

[699 rows x 2 columns]

In [10]:
# selecting rows by their positions

df.iloc[:5]

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [11]:
# selecting columns by their positions

df.iloc[:,:2]

          ID  Clump_Thickness
0    1000025                5
1    1002945                5
2    1015425                3
3    1016277                6
4    1017023                4
5    1017122                8
6    1018099                1
7    1018561                2
8    1033078                2
9    1033078                4
10   1035283                1
11   1036172                2
12   1041801                5
13   1043999                1
14   1044572                8
15   1047630                7
16   1048672                4
17   1049815                4
18   1050670               10
19   1050718                6
20   1054590                7
21   1054593               10
22   1056784                3
23   1057013                8
24   1059552                1
25   1065726                5
26   1066373                3
27   1066979                5
28   1067444                2
29   1070935                1
..       ...              ...
669  1350423                5
670  1352848                3
671  1353092                3
672  1354840                2
673  1354840                5
674  1355260                1
675  1365075                4
676  1365328                1
677  1368267                5
678  1368273                1
679  1368882                2
680  1369821               10
681  1371026                5
682  1371920                5
683   466906                1
684   466906                1
685   534555                1
686   536708                1
687   566346                3
688   603148                4
689   654546                1
690   654546                1
691   695091                5
692   714039                3
693   763235                3
694   776715                3
695   841769                2
696   888820                5
697   897471                4
698   897471                4

[699 rows x 2 columns]

In [12]:
df[df['Cancer_Type']==2] #to return all the rows where the cancer type is 2

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2
6,1018099,1,1,1,1,2.0,10,3,1,1,2
7,1018561,2,1,2,1,2.0,1,3,1,1,2
8,1033078,2,1,1,1,2.0,1,1,1,5,2
9,1033078,4,2,1,1,2.0,1,2,1,1,2
10,1035283,1,1,1,1,1.0,1,3,1,1,2
11,1036172,2,1,1,1,2.0,1,2,1,1,2
13,1043999,1,1,1,1,2.0,3,3,1,1,2
16,1048672,4,1,1,1,2.0,1,2,1,1,2
17,1049815,4,1,1,1,2.0,1,3,1,1,2
19,1050718,6,1,1,1,2.0,1,3,1,1,2
22,1056784,3,1,1,1,2.0,1,2,1,1,2
24,1059552,1,1,1,1,2.0,1,3,1,1,2
26,1066373,3,2,1,1,1.0,1,2,1,1,2
27,1066979,5,1,1,1,2.0,1,2,1,1,2
28,1067444,2,1,1,1,2.0,1,2,1,1,2
29,1070935,1,1,3,1,2.0,1,1,1,1,2
30,1070935,3,1,1,1,1.0,1,2,1,1,2
31,1071760,2,1,1,1,2.0,1,3,1,1,2
33,1074610,2,1,1,2,2.0,1,3,1,1,2
34,1075123,3,1,2,1,2.0,1,2,1,1,2
35,1079304,2,1,1,1,2.0,1,2,1,1,2
37,1081791,6,2,1,1,1.0,1,7,1,1,2
40,1096800,6,6,6,9,6.0,?,7,8,1,2
45,1103722,1,1,1,1,2.0,1,2,1,2,2
47,1105524,1,1,1,1,2.0,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
660,1339781,1,1,1,1,2.0,1,2,1,1,2
661,1339781,4,1,1,1,2.0,1,3,1,1,2
662,13454352,1,1,3,1,2.0,1,2,1,1,2
663,1345452,1,1,3,1,2.0,1,2,1,1,2
664,1345593,3,1,1,3,2.0,1,2,1,1,2
665,1347749,1,1,1,1,2.0,1,1,1,1,2
666,1347943,5,2,2,2,2.0,1,1,1,2,2
667,1348851,3,1,1,1,2.0,1,3,1,1,2
671,1353092,3,2,1,2,2.0,1,3,1,1,2
672,1354840,2,1,1,1,2.0,1,3,1,1,2
673,1354840,5,3,2,1,3.0,1,1,1,1,2
674,1355260,1,1,1,1,2.0,1,2,1,1,2
675,1365075,4,1,4,1,2.0,1,1,1,1,2
676,1365328,1,1,2,1,2.0,1,2,1,1,2
677,1368267,5,1,1,1,2.0,1,1,1,1,2
678,1368273,1,1,1,1,2.0,1,1,1,1,2
679,1368882,2,1,1,1,2.0,1,1,1,1,2
682,1371920,5,1,1,1,2.0,1,3,2,1,2
683,466906,1,1,1,1,2.0,1,1,1,1,2
684,466906,1,1,1,1,2.0,1,1,1,1,2
685,534555,1,1,1,1,2.0,1,1,1,1,2
686,536708,1,1,1,1,2.0,1,1,1,1,2
687,566346,3,1,1,1,2.0,1,2,3,1,2
688,603148,4,1,1,1,2.0,1,1,1,1,2
689,654546,1,1,1,1,2.0,1,1,1,8,2
690,654546,1,1,1,3,2.0,1,1,1,1,2
692,714039,3,1,1,1,2.0,1,1,1,1,2
693,763235,3,1,1,1,2.0,1,2,1,2,2
694,776715,3,1,1,1,3.0,2,1,1,1,2
695,841769,2,1,1,1,2.0,1,1,1,1,2